/*
body   {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=submit] {
    width: auto;
}

input, textarea {
    font-size: 18px;
    width: 200px;
}


label {
    font-size: 16px;
}

#theForm{
    background-color: #b2a9a9;
}

#theForm input[type=submit]{
    background-color: forestgreen;
    color: antiquewhite;
}

ul.product-props{
    font-size: small;
}

ul.product-props li{
    list-style-type: none;
}


#loginToggle{
    cursor: pointer;
}

.popup-form{
    padding: 5px;
    border: 2px black inset;
    display: inline-block;
}

.popup-form input{
    width: 200px;
}

.popup-form label{
    width: 150px;
    display: inline-block;
}

.popup-form input[type=checkbox], .popup-form input[type=submit]{
    width: auto;
}

menu li{
    display: inline;
}

menu li::after{
    
    content: ' |';
}

menu li:last-of-type::after{
    content: "";
}*/

footer {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid white;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    padding: 30px;
    margin-left: 300px;
}

.main-text {
    position: absolute;
    top: 100px;
    width: 96.66666666666666%;
    color: #FFF;
}

.product-info{
    padding-top: 10px;
}

.carousel .carousel-item {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

    .carousel .carousel-item:first-of-type {
        background-image: url('../images/organic1.jpeg');
    }

    .carousel .carousel-item:nth-of-type(2) {
        background-image: url('../images/organic2.jpg');
    }

    .carousel .carousel-item:last-of-type {
        background-image: url('../images/organic3.jpg');
    }

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}