@{
    ViewBag.Title = "Home Page";
}
    <div class="row">
        <div class="col-md-6">
            <div class="product-info">
                <img src="~/images/VermiImage5.jpg"/>
                <h3>Tulsi Super Power Organic Manure</h3>
                <ul class="product-props">
                    <li>Price: Rs. 750/Piece</li>
                    <li>Brand: Tulsi </li>
                    <li>Pack Size: 10 Kg</li>
                    <li>Application: Agriculture and Horticulture</li>
                    <li>Packaging Type: Bucket</li>
                    <li>Minimum Order Quantity: 4 Piece</li>
                </ul>
                <button id="buyButton" class="btn btn-success">Buy</button>
            </div>

            <div id="theForm">
                <form>
                    <label>Your Name:</label>
                    <br />
                    <input />
                    <br />
                    <label>Email</label>
                    <br />
                    <input type="email" />
                    <br />
                    <label>Order Quantity</label>
                    <br />
                    <input type="number" />
                    <br />
                    <label>Date</label>
                    <br />
                    <input type="date" />
                    <br />
                    <label>Message:</label>
                    <br />
                    <textarea rows="4"></textarea>
                    <br />
                    <input type="submit" value="Send Message" />
                </form>
            </div>

            <div>
                <div id="loginToggle">Login</div>
                <form class="popup-form">
                    <div>
                        <label>Username</label>
                        <input />
                    </div>
                    <div>
                        <label>Password </label>
                        <input type="password" />
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label>Remember Me?</label>
                    </div>
                    <div>
                        <input type="submit" value="Login" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <p><h3>Vermi Compost Manure</h3></p>
            <p>This is a site to do some buying of best quailty product.</p>
        </div>
        
    </div>