@model IEnumerable<Product>
@section Scripts{
    <script src="~/clientapp/runtime.js"></script>
    <script src="~/clientapp/polyfills.js"></script>
    <script src="~/clientapp/styles.js"></script>
    <script src="~/clientapp/vendor.js"></script>
    <script src="~/clientapp/main.js"></script>
}
<h1>Shop</h1>
<the-shop></the-shop>