@model IEnumerable<Product>
@section Scripts{
    <script src="~/clientapp/runtime-es2020.js"></script>
    <script src="~/clientapp/polyfills-es2020.js"></script>
    <script src="~/clientapp/styles-es2020.js"></script>
    <script src="~/clientapp/vendor-es2020.js"></script>
    <script src="~/clientapp/main-es2020.js"></script>
}
<h1>Shop</h1>
<the-shop></the-shop>