<h3>Shopping Cart</h3>
<div>#/Items: {{data.order.items.length}}</div>
<table class="table table-hover table-striped w-auto">
    <thead class="thead-dark">
        <tr>
            <td>Product</td>
            <td>#</td>
            <td>$</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of data.order.items">
            <td>{{ o.productCategory}}</td>
            <td>{{ o.quantity }}</td>
            <td>{{ o.unitPrice | currency:"Rs:":true}}</td>
            <td>{{ (o.unitPrice *  o.quantity) | currency:"NRs.":true }}</td>
        </tr>
    </tbody>
</table>